.user-panel {
  height: 87px;
  padding: 20px 0;
  background: $light-grey;
}

.btn-switch {

}

#user-menu {
  margin-bottom: 40px;
}

.card-list-row {
  margin-bottom: 20px;
}

.single-card {
  margin-bottom: 20px;
}

.btn-lcard {
  margin-top: 20px;
}

.card-info {
  height: 260px;
}

#my-cards h2 {
  color: $grey;
}